In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('Assignment Dataset/Sample.csv')

In [4]:
print(data.shape)
data.head()

(4722, 11)

,Unnamed: 0,SEM 1 SGPA,SEM 1 KT,SEM 2 SGPA,SEM 2 KT,SEM 3 SGPA,SEM 3 KT,SEM 4 SGPA,SEM 4 KT,Attandance,label
0,0,8.43,1,6.2,2,6.80,1,6.5,0,2,1
1,1,4.20,1,4.2,2,3.50,2,4.4,1,5,0
2,2,6.30,0,6.2,0,6.80,0,6.7,0,2,1
3,3,8.15,0,7.8,0,8.18,0,9.0,0,3,1
4,4,3.80,1,3.4,1,4.10,2,4.3,1,5,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4722 non-null   int64
 1   SEM 1 SGPA  4722 non-null   float64
 2   SEM 1 KT    4722 non-null   int64
 3   SEM 2 SGPA  4722 non-null   float64
 4   SEM 2 KT    4722 non-null   int64
 5   SEM 3 SGPA  4722 non-null   float64
 6   SEM 3 KT    4722 non-null   int64
 7   SEM 4 SGPA  4722 non-null   float64
 8   SEM 4 KT    4722 non-null   int64
 9   Attandance  4722 non-null   int64
 10  label       4722 non-null   int64
dtypes: float64(4), int64(7)
memory usage: 405.9 KB

In [6]:
data.dtypes

Unnamed: 0      int64
SEM 1 SGPA    float64
SEM 1 KT        int64
SEM 2 SGPA    float64
SEM 2 KT        int64
SEM 3 SGPA    float64
SEM 3 KT        int64
SEM 4 SGPA    float64
SEM 4 KT        int64
Attandance      int64
label           int64
dtype: object

In [7]:
data.describe()

,Unnamed: 0,SEM 1 SGPA,SEM 1 KT,SEM 2 SGPA,SEM 2 KT,SEM 3 SGPA,SEM 3 KT,SEM 4 SGPA,SEM 4 KT,Attandance,label
count,4722.000000,4722.000000,4722.000000,4722.000000,4722.000000,4722.000000,4722.000000,4722.000000,4722.000000,4722.000000,4722.000000
mean,2360.500000,5.985487,0.793731,5.991089,0.857264,5.877209,0.818721,5.943276,0.526260,3.412537,0.610970
std,1363.268315,1.792330,0.938830,1.807752,0.912131,1.699678,0.922411,1.769925,0.834955,1.402360,0.487582
min,0.000000,3.200000,0.000000,3.200000,0.000000,3.200000,0.000000,3.100000,0.000000,1.000000,0.000000
25%,1180.250000,4.200000,0.000000,4.210000,0.000000,4.280000,0.000000,4.250000,0.000000,2.000000,0.000000
50%,2360.500000,6.000000,1.000000,6.000000,1.000000,5.900000,1.000000,6.000000,0.000000,3.000000,1.000000
75%,3540.750000,7.500000,1.000000,7.420000,2.000000,7.200000,1.750000,7.300000,1.000000,5.000000,1.000000
max,4721.000000,9.580000,4.000000,10.000000,3.000000,10.000000,4.000000,9.800000,3.000000,5.000000,1.000000

In [8]:
data.isnull().sum()

Unnamed: 0    0
SEM 1 SGPA    0
SEM 1 KT      0
SEM 2 SGPA    0
SEM 2 KT      0
SEM 3 SGPA    0
SEM 3 KT      0
SEM 4 SGPA    0
SEM 4 KT      0
Attandance    0
label         0
dtype: int64

In [12]:
data['SEM 1 SGPA'].unique()

array([8.43, 4.2 , 6.3 , 8.15, 3.8 , 5.6 , 7.3 , 4.54, 5.7 , 5.8 , 7.7 ,
       6.6 , 6.91, 6.7 , 6.2 , 4.6 , 7.65, 4.16, 7.9 , 3.4 , 4.  , 5.65,
       5.5 , 3.7 , 3.25, 6.15, 7.79, 9.16, 7.75, 8.25, 4.8 , 5.14, 8.19,
       6.  , 4.7 , 7.  , 8.12, 4.5 , 7.68, 8.14, 4.79, 5.56, 9.05, 4.69,
       6.9 , 7.87, 7.1 , 6.12, 7.4 , 7.74, 9.  , 8.2 , 8.3 , 6.67, 5.67,
       7.89, 5.1 , 8.67, 4.3 , 5.57, 9.52, 5.75, 8.78, 7.41, 6.69, 6.63,
       7.5 , 8.89, 5.9 , 4.1 , 3.6 , 9.21, 7.56, 7.04, 7.2 , 6.89, 3.9 ,
       6.5 , 4.4 , 6.98, 4.9 , 6.1 , 3.5 , 3.2 , 4.34, 4.33, 4.32, 7.6 ,
       9.08, 9.48, 4.89, 8.71, 4.64, 8.32, 5.93, 7.8 , 7.93, 8.  , 6.53,
       4.27, 4.97, 4.66, 7.11, 4.25, 9.42, 4.78, 4.87, 8.54, 9.58, 8.57,
       7.22, 4.24, 9.12, 7.44, 6.19, 4.85, 6.51, 6.95, 4.93, 7.07])

In [13]:
data['Attandance'].value_counts()

5    1648
3    1093
2     907
4     569
1     505
Name: Attandance, dtype: int64

In [14]:
data['Attandance'].unique()

array([2, 5, 3, 1, 4], dtype=int64)